In [2]:
import pandas as pd
import polars as pl

### Pandas

In [12]:
data_list_pd =[[1,"Alice"] ,[2, "bob"],[3,"Charlie"]]

In [5]:
pd.DataFrame(data_list_pd)

   0        1
0  1    Alice
1  2      bob
2  3  Charlie

In [6]:
pd.DataFrame(data_list_pd,columns=["ID", "Name"])

   ID     Name
0   1    Alice
1   2      bob
2   3  Charlie

In [14]:
data_pd_list = pd.DataFrame(data_list_pd,columns=["ID", "Name"])
data_pd_list

   ID     Name
0   1    Alice
1   2      bob
2   3  Charlie

## POLARS

In [16]:
data_pl_list = pl.DataFrame(data_list_pd,schema=["ID", "Name"])
data_pl_list

C:\Users\NITESH-DK\AppData\Local\Temp\ipykernel_27716\167396237.py:1: DataOrientationWarning: Row orientation inferred during DataFrame construction. Explicitly specify the orientation by passing `orient="row"` to silence this warning.
  data_pl_list = pl.DataFrame(data_list_pd,schema=["ID", "Name"])

shape: (3, 2)
┌─────┬─────────┐
│ ID  ┆ Name    │
│ --- ┆ ---     │
│ i64 ┆ str     │
╞═════╪═════════╡
│ 1   ┆ Alice   │
│ 2   ┆ bob     │
│ 3   ┆ Charlie │
└─────┴─────────┘

## Reading External data/files using pandas and polars

In [18]:
pd_csv_load = pd.read_csv("students_marks.csv")

In [19]:
pd_csv_load

  Student Name  Marks  DIV
0         John     85   12
1        Alice     90   12
2          Bob     78   11
3         Sara     92   13
4          Tom     33   14

In [22]:
pl_csv_load = pl.read_csv("students_marks.csv")

In [23]:
pl_csv_load

shape: (5, 3)
┌──────────────┬───────┬─────┐
│ Student Name ┆ Marks ┆ DIV │
│ ---          ┆ ---   ┆ --- │
│ str          ┆ i64   ┆ i64 │
╞══════════════╪═══════╪═════╡
│ John         ┆ 85    ┆ 12  │
│ Alice        ┆ 90    ┆ 12  │
│ Bob          ┆ 78    ┆ 11  │
│ Sara         ┆ 92    ┆ 13  │
│ Tom          ┆ 33    ┆ 14  │
└──────────────┴───────┴─────┘

In [27]:
pl_csv_load = pl.read_csv("contacts.csv")

In [28]:
pl_csv_load

shape: (187, 37)
┌────────────┬───────────┬────────────┬──────────┬───┬────────┬──────────┬────────────┬────────────┐
│ First Name ┆ Last Name ┆ Display    ┆ Nickname ┆ … ┆ Gender ┆ Web Page ┆ Web Page 2 ┆ Categories │
│ ---        ┆ ---       ┆ Name       ┆ ---      ┆   ┆ ---    ┆ ---      ┆ ---        ┆ ---        │
│ str        ┆ str       ┆ ---        ┆ str      ┆   ┆ str    ┆ str      ┆ str        ┆ str        │
│            ┆           ┆ str        ┆          ┆   ┆        ┆          ┆            ┆            │
╞════════════╪═══════════╪════════════╪══════════╪═══╪════════╪══════════╪════════════╪════════════╡
│ Raju       ┆ Mama      ┆ Raju Mama  ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
│ Tempo      ┆ null      ┆ Tempo      ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
│ Puspa      ┆ Masi      ┆ Puspa Masi ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
│ Nani       ┆ null      ┆ Nani       ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
│ Tejas      ┆ K         ┆ Tejas K    ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
│ …          ┆ …         ┆ …          ┆ …        ┆ … ┆ …      ┆ …        ┆ …          ┆ …          │
│ SDD        ┆ Sir       ┆ SDD Sir    ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
│ Aditya     ┆ Kadam     ┆ Aditya     ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
│            ┆           ┆ Kadam      ┆          ┆   ┆        ┆          ┆            ┆            │
│ Pcu        ┆ Jadav     ┆ Pcu Prem   ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
│            ┆           ┆ Jadav      ┆          ┆   ┆        ┆          ┆            ┆            │
│ Tejasvi    ┆ Ahire     ┆ Tejasvi    ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
│            ┆           ┆ Ahire      ┆          ┆   ┆        ┆          ┆            ┆            │
│ Pcu        ┆ Sahil     ┆ Pcu Sahil  ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
└────────────┴───────────┴────────────┴──────────┴───┴────────┴──────────┴────────────┴────────────┘

In [33]:
pl_csv_load.head() # by deafult it will provide first 5 data from starting 
pl_csv_load.head(4)

shape: (4, 37)
┌────────────┬───────────┬────────────┬──────────┬───┬────────┬──────────┬────────────┬────────────┐
│ First Name ┆ Last Name ┆ Display    ┆ Nickname ┆ … ┆ Gender ┆ Web Page ┆ Web Page 2 ┆ Categories │
│ ---        ┆ ---       ┆ Name       ┆ ---      ┆   ┆ ---    ┆ ---      ┆ ---        ┆ ---        │
│ str        ┆ str       ┆ ---        ┆ str      ┆   ┆ str    ┆ str      ┆ str        ┆ str        │
│            ┆           ┆ str        ┆          ┆   ┆        ┆          ┆            ┆            │
╞════════════╪═══════════╪════════════╪══════════╪═══╪════════╪══════════╪════════════╪════════════╡
│ Raju       ┆ Mama      ┆ Raju Mama  ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
│ Tempo      ┆ null      ┆ Tempo      ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
│ Puspa      ┆ Masi      ┆ Puspa Masi ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
│ Nani       ┆ null      ┆ Nani       ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
└────────────┴───────────┴────────────┴──────────┴───┴────────┴──────────┴────────────┴────────────┘

In [36]:
pd_csv_load = pd.read_csv("contacts.csv")
pd_csv_load

,First Name,Last Name,Display Name,Nickname,E-mail Address,E-mail 2 Address,E-mail 3 Address,Home Phone,Business Phone,Home Fax,...,Job Title,Department,Organization,Notes,Birthday,Anniversary,Gender,Web Page,Web Page 2,Categories
0,Raju,Mama,Raju Mama,NaN,NaN,NaN,NaN,+918805512964,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tempo,NaN,Tempo,NaN,NaN,NaN,NaN,738-568-5655,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Puspa,Masi,Puspa Masi,NaN,NaN,NaN,NaN,838-285-5808,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nani,NaN,Nani,NaN,NaN,NaN,NaN,+917388864324,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tejas,K,Tejas K,NaN,NaN,NaN,NaN,976-725-0190,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,SDD,Sir,SDD Sir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,Aditya,Kadam,Aditya Kadam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,Pcu,Jadav,Pcu Prem Jadav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,Tejasvi,Ahire,Tejasvi Ahire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,Pcu,Sahil,Pcu Sahil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
pd_csv_load.head(3)

,First Name,Last Name,Display Name,Nickname,E-mail Address,E-mail 2 Address,E-mail 3 Address,Home Phone,Business Phone,Home Fax,...,Job Title,Department,Organization,Notes,Birthday,Anniversary,Gender,Web Page,Web Page 2,Categories
0,Raju,Mama,Raju Mama,NaN,NaN,NaN,NaN,+918805512964,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tempo,NaN,Tempo,NaN,NaN,NaN,NaN,738-568-5655,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Puspa,Masi,Puspa Masi,NaN,NaN,NaN,NaN,838-285-5808,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## to get data from end

In [44]:
pl_csv_load.tail()

shape: (5, 37)
┌────────────┬───────────┬────────────┬──────────┬───┬────────┬──────────┬────────────┬────────────┐
│ First Name ┆ Last Name ┆ Display    ┆ Nickname ┆ … ┆ Gender ┆ Web Page ┆ Web Page 2 ┆ Categories │
│ ---        ┆ ---       ┆ Name       ┆ ---      ┆   ┆ ---    ┆ ---      ┆ ---        ┆ ---        │
│ str        ┆ str       ┆ ---        ┆ str      ┆   ┆ str    ┆ str      ┆ str        ┆ str        │
│            ┆           ┆ str        ┆          ┆   ┆        ┆          ┆            ┆            │
╞════════════╪═══════════╪════════════╪══════════╪═══╪════════╪══════════╪════════════╪════════════╡
│ SDD        ┆ Sir       ┆ SDD Sir    ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
│ Aditya     ┆ Kadam     ┆ Aditya     ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
│            ┆           ┆ Kadam      ┆          ┆   ┆        ┆          ┆            ┆            │
│ Pcu        ┆ Jadav     ┆ Pcu Prem   ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
│            ┆           ┆ Jadav      ┆          ┆   ┆        ┆          ┆            ┆            │
│ Tejasvi    ┆ Ahire     ┆ Tejasvi    ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
│            ┆           ┆ Ahire      ┆          ┆   ┆        ┆          ┆            ┆            │
│ Pcu        ┆ Sahil     ┆ Pcu Sahil  ┆ null     ┆ … ┆ null   ┆ null     ┆ null       ┆ null       │
└────────────┴───────────┴────────────┴──────────┴───┴────────┴──────────┴────────────┴────────────┘

In [45]:
pd_csv_load.tail()

,First Name,Last Name,Display Name,Nickname,E-mail Address,E-mail 2 Address,E-mail 3 Address,Home Phone,Business Phone,Home Fax,...,Job Title,Department,Organization,Notes,Birthday,Anniversary,Gender,Web Page,Web Page 2,Categories
182,SDD,Sir,SDD Sir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,Aditya,Kadam,Aditya Kadam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,Pcu,Jadav,Pcu Prem Jadav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,Tejasvi,Ahire,Tejasvi Ahire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,Pcu,Sahil,Pcu Sahil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
pd_csv_load.describe()

,Nickname,E-mail Address,E-mail 2 Address,E-mail 3 Address,Home Fax,Business Fax,Pager,Home Street,Home Address 2,Home City,...,Related name,Job Title,Department,Notes,Birthday,Anniversary,Gender,Web Page,Web Page 2,Categories
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
pd_csv_load.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   First Name            179 non-null    object
 1   Last Name             82 non-null     object
 2   Display Name          186 non-null    object
 3   Nickname              0 non-null      float64
 4   E-mail Address        0 non-null      float64
 5   E-mail 2 Address      0 non-null      float64
 6   E-mail 3 Address      0 non-null      float64
 7   Home Phone            73 non-null     object
 8   Business Phone        35 non-null     object
 9   Home Fax              0 non-null      float64
 10  Business Fax          0 non-null      float64
 11  Pager                 0 non-null      float64
 12  Mobile Phone          116 non-null    object
 13  Home Street           0 non-null      float64
 14  Home Address 2        0 non-null      float64
 15  Home City             0 non-null      float64
 16  Home State            0 non-null      float64
 17  Home Postal Code      0 non-null      float64
 18  Home Country          0 non-null      float64
 19  Business Address      0 non-null      float64
 20  Business Address 2    0 non-null      float64
 21  Business City         0 non-null      float64
 22  Business State        0 non-null      float64
 23  Business Postal Code  0 non-null      float64
 24  Business Country      0 non-null      float64
 25  Country Code          0 non-null      float64
 26  Related name          0 non-null      float64
 27  Job Title             0 non-null      float64
 28  Department            0 non-null      float64
 29  Organization          1 non-null      object
 30  Notes                 0 non-null      float64
 31  Birthday              0 non-null      float64
 32  Anniversary           0 non-null      float64
 33  Gender                0 non-null      float64
 34  Web Page              0 non-null      float64
 35  Web Page 2            0 non-null      float64
 36  Categories            0 non-null      float64
dtypes: float64(30), object(7)
memory usage: 54.2+ KB

In [50]:
# pd_csv_load.info(verbose=True) ## by deafult True
pd_csv_load.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Columns: 37 entries, First Name to Categories
dtypes: float64(30), object(7)
memory usage: 54.2+ KB

#### loc & iloc

In [52]:
# pd_csv_load.loc[0] # to acces the individual data here we are accesing the first data
pd_csv_load.loc[3] # loc will use what is explicitly written here

First Name                       Nani
Last Name                         NaN
Display Name                     Nani
Nickname                          NaN
E-mail Address                    NaN
E-mail 2 Address                  NaN
E-mail 3 Address                  NaN
Home Phone              +917388864324
Business Phone                    NaN
Home Fax                          NaN
Business Fax                      NaN
Pager                             NaN
Mobile Phone                      NaN
Home Street                       NaN
Home Address 2                    NaN
Home City                         NaN
Home State                        NaN
Home Postal Code                  NaN
Home Country                      NaN
Business Address                  NaN
Business Address 2                NaN
Business City                     NaN
Business State                    NaN
Business Postal Code              NaN
Business Country                  NaN
Country Code                      NaN
Related name                      NaN
Job Title                         NaN
Department                        NaN
Organization                      NaN
Notes                             NaN
Birthday                          NaN
Anniversary                       NaN
Gender                            NaN
Web Page                          NaN
Web Page 2                        NaN
Categories                        NaN
Name: 3, dtype: object

In [54]:
pd_csv_load.iloc[3] # iloc will use the order the index of index

First Name                       Nani
Last Name                         NaN
Display Name                     Nani
Nickname                          NaN
E-mail Address                    NaN
E-mail 2 Address                  NaN
E-mail 3 Address                  NaN
Home Phone              +917388864324
Business Phone                    NaN
Home Fax                          NaN
Business Fax                      NaN
Pager                             NaN
Mobile Phone                      NaN
Home Street                       NaN
Home Address 2                    NaN
Home City                         NaN
Home State                        NaN
Home Postal Code                  NaN
Home Country                      NaN
Business Address                  NaN
Business Address 2                NaN
Business City                     NaN
Business State                    NaN
Business Postal Code              NaN
Business Country                  NaN
Country Code                      NaN
Related name                      NaN
Job Title                         NaN
Department                        NaN
Organization                      NaN
Notes                             NaN
Birthday                          NaN
Anniversary                       NaN
Gender                            NaN
Web Page                          NaN
Web Page 2                        NaN
Categories                        NaN
Name: 3, dtype: object

In [55]:
pl_csv_load.describe()

shape: (9, 38)
┌────────────┬────────────┬───────────┬────────────┬───┬────────┬──────────┬───────────┬───────────┐
│ statistic  ┆ First Name ┆ Last Name ┆ Display    ┆ … ┆ Gender ┆ Web Page ┆ Web Page  ┆ Categorie │
│ ---        ┆ ---        ┆ ---       ┆ Name       ┆   ┆ ---    ┆ ---      ┆ 2         ┆ s         │
│ str        ┆ str        ┆ str       ┆ ---        ┆   ┆ str    ┆ str      ┆ ---       ┆ ---       │
│            ┆            ┆           ┆ str        ┆   ┆        ┆          ┆ str       ┆ str       │
╞════════════╪════════════╪═══════════╪════════════╪═══╪════════╪══════════╪═══════════╪═══════════╡
│ count      ┆ 179        ┆ 82        ┆ 186        ┆ … ┆ 0      ┆ 0        ┆ 0         ┆ 0         │
│ null_count ┆ 8          ┆ 105       ┆ 1          ┆ … ┆ 187    ┆ 187      ┆ 187       ┆ 187       │
│ mean       ┆ null       ┆ null      ┆ null       ┆ … ┆ null   ┆ null     ┆ null      ┆ null      │
│ std        ┆ null       ┆ null      ┆ null       ┆ … ┆ null   ┆ null     ┆ null      ┆ null      │
│ min        ┆ 4D!7Y4     ┆ 1         ┆ 4D!7Y4     ┆ … ┆ null   ┆ null     ┆ null      ┆ null      │
│            ┆ 5H4RM4🖤✨ ┆           ┆ 5H4RM4🖤✨ ┆   ┆        ┆          ┆           ┆           │
│ 25%        ┆ null       ┆ null      ┆ null       ┆ … ┆ null   ┆ null     ┆ null      ┆ null      │
│ 50%        ┆ null       ┆ null      ┆ null       ┆ … ┆ null   ┆ null     ┆ null      ┆ null      │
│ 75%        ┆ null       ┆ null      ┆ null       ┆ … ┆ null   ┆ null     ┆ null      ┆ null      │
│ max        ┆ nitesh     ┆ sir       ┆ nitesh     ┆ … ┆ null   ┆ null     ┆ null      ┆ null      │
│            ┆            ┆           ┆ kushwaha   ┆   ┆        ┆          ┆           ┆           │
└────────────┴────────────┴───────────┴────────────┴───┴────────┴──────────┴───────────┴───────────┘

In [58]:
pd_csv_load.shape

(187, 37)

In [60]:
pl_csv_load.schema

Schema([('First Name', String),
        ('Last Name', String),
        ('Display Name', String),
        ('Nickname', String),
        ('E-mail Address', String),
        ('E-mail 2 Address', String),
        ('E-mail 3 Address', String),
        ('Home Phone', String),
        ('Business Phone', String),
        ('Home Fax', String),
        ('Business Fax', String),
        ('Pager', String),
        ('Mobile Phone', String),
        ('Home Street', String),
        ('Home Address 2', String),
        ('Home City', String),
        ('Home State', String),
        ('Home Postal Code', String),
        ('Home Country', String),
        ('Business Address', String),
        ('Business Address 2', String),
        ('Business City', String),
        ('Business State', String),
        ('Business Postal Code', String),
        ('Business Country', String),
        ('Country Code', String),
        ('Related name', String),
        ('Job Title', String),
        ('Department', String),
        ('Organization', String),
        ('Notes', String),
        ('Birthday', String),
        ('Anniversary', String),
        ('Gender', String),
        ('Web Page', String),
        ('Web Page 2', String),
        ('Categories', String)])

In [62]:
pl_csv_load.shape

(187, 37)